body {
	font-family: 'Roboto';
	font-weight: 300;
	line-height: 1.5;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}

pre, code {
    white-space: pre-line;
}

.card {
	margin-bottom: 1.8rem;
	background-color: #F5F5F5;
	border: none;
	border-radius: 0;
}

.card-title {
	margin-bottom: 1.5rem;
	font-weight: 300;
	font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6, strong {
	font-weight: 400;
}

h2 { margin: 2.5rem 0 1.5rem 0; font-size: 2.5rem; }
h3 { margin: 1.5rem 0 1rem 0; }
h4 { margin: 1.5rem 0 1rem 0; }

header {
	padding: 40px 0 50px 0;
	color: #fff;
	background-color: #9C27B0;
	background-image: linear-gradient(0deg, rgba(156,39,176,1) 0%, rgba(171,71,188,1) 100%);
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

header nav {
	margin-top: 40px;
}

header nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

header nav li {
	float: left;
}

header nav li a,
header nav li a:hover,
header nav li a:active,
header nav li a:focus {
	display: inline-block;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
	text-decoration: none;
	line-height: 1;
	padding: 10px;
	margin-right: 5px;
	transition: background-color 200ms;
}

header nav li a:hover,
header nav li a:active,
header nav li a:focus {
	background-color: rgba(255,255,255,0.3);
}

header nav li a.active {
	background-color: rgba(255,255,255,0.4);
}

main {
	padding: 50px 0 80px 0;
}

#resources ul {
	padding-left: 1rem;
}

#resources li {
	list-style-type: symbols(cyclic "\2197"); /*symbols(cyclic '&nearr;');*/
}

#team .card-flex {
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
}

#team .card-flex img {
	width: 100px;
}

#team .card-right {
	padding-left: 20px;
}

#team .card-link {
	margin: 0;
}

#team .card-link:before {
	content: '\2197';
}

footer {
	margin-top: auto;
	padding: 40px 0 100px 0;
	color: #fff;
	background-color: #9C27B0;
	/*background-image: linear-gradient(0deg, rgba(156,39,176,1) 0%, rgba(171,71,188,1) 100%);*/
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

footer ul {
	padding-left: 0; /*1rem;*/
	list-style: none;
}

footer ul li a,
footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active {
	color: #fff;
	text-decoration: none;
}